#bookCarousel {
  margin: 2rem;
  background-color: white;
}

h2 {
  text-align: center;
  margin-top: 1rem;
}

#noDataP {
  color: red;
}

.backgroundImg {
  z-index: -5;
  height: 40rem;
  margin: auto;
  object-fit: contain;
  display: block;
}

h5 {
  color: black;
  font-weight: bold;
  margin-top: 2rem;
}

p {
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}

#secondp {
  margin-bottom: 12rem;
}

.spacer {
  margin-bottom: 110px;
  visibility: hidden; 
}
