/* DeleteButton.css */

.edit-button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin-left: 1rem;
}

.edit-button:hover {
  transform: translateY(-2px);
}
